<div>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="https://assets.ajio.com/cms/AJIO/WEB/18062022-D-unisex-topbanner-p4-brands-4060.jpg"
                    class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://assets.ajio.com/cms/AJIO/WEB/19062022-D-unisex-topbanner-p4-brands-1-startingat299.jpg"
                    class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://assets.ajio.com/cms/AJIO/WEB/03062022-D-UHP-BBS-assuredgiftsbanner-3000.jpeg"
                    class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
        </div>
    </div>

</div>


<nav class="navbar navbar-dark bg-light">
    <div class="container-fluid">
      <span class="navbar-brand me-auto mb-3 h1">Exclusive OFFER</span>
    </div>
  </nav>


<div class="card-group">
    <div class="card">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/Campus.jpg"
            class="d-block w-100" alt="...">

    </div>
    <div class="card">
        <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/MA2022/EOSS/halos/CML._CB633406165_.gif"
            class="d-block w-100" alt="...">

    </div>
    <div class="card">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/03062022-17-ishin.jpg"
            class="d-block w-100" alt="...">

    </div>
    <div class="card">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/03062022-17-dennislingo.jpg"
            class="d-block w-100" alt="...">

    </div>
    <div class="card">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/03062022-26-footwear.jpg"
            class="d-block w-100" alt="...">

    </div>
</div>          


<div>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
       
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="https://assets.ajio.com/cms/AJIO/WEB/03062022-22-header.jpg"
                    class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>
           
        </div>
    </div>

</div>






<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand me-auto mb-3 h1">INDIA'S BIGGEST FASHION SALE</span>
    </div>
  </nav>

<div class="card-group">
    <div class="card">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/InternationalBrands-D.jpg"
            class="d-block w-100" alt="...">

    </div>
    <div class="card">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/03062022-18-dnmx.jpg"
            class="d-block w-100" alt="...">

    </div>
    <div class="card">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/03062022-21-rayban.jpg"
            class="d-block w-100" alt="...">

    </div>
    <div class="card">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/03062022-21-baggit.jpg"
            class="d-block w-100" alt="...">

    </div>
    <div class="card">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/03062022-21-fossil.jpg"
            class="d-block w-100" alt="...">

    </div>
    <div class="card">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/03062022-23-D_online-brands_beauty.jpg"
            class="d-block w-100" alt="...">

    </div>
    <div class="card">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/03062022-23-D_online-brands_jupcoming-brands.jpg"
            class="d-block w-100" alt="...">

    </div>
</div>          
